@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
    padding: 42px 26px;
    background-color: #F8F8F8;
    width: 216px;
    color: #1D204F;
    letter-spacing: 0.003em;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    height: 100vh;

}

.navbar h4 {
    font-weight: 500;

}

.navbar .menu ul li {
    display: block;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.navbar .menu ul li a {
    display: flex;
    align-items: center;
}

a:active {
    color: #1D204F;
}

.active {
    font-weight: 500;
    color: #1D204F
}

.active::before {

    content: "";
    background-color: #474975;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}