//  @import './assets/fonts/font.scss';
@import url('../fonts/font.scss');
body{
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
 text-decoration: none;
list-style: none;
}
.main{
  display: flex;
 width: 100%;
}